<mat-card-title>Annotations</mat-card-title>

<mat-list>
  <div *ngFor="let item of currentImageAnnotations">
    <mat-list-item *ngIf="item.categoryLabel !== undefined && item.image !== undefined && activeImage !== undefined && item.image.id === activeImage.id">
      <mat-icon mat-list-icon
                [ngStyle]="{backgroundColor: item.categoryLabel.colorCode}">{{ getRightIcon(item.annotationMode) }}
      </mat-icon>
      <div mat-line>{{item.categoryLabel.name}}</div>
      <div><button mat-icon-button><mat-icon (click)="onDeleteImageAnnotation(item)">clear</mat-icon></button></div>
    </mat-list-item>
  </div>
</mat-list>
