<p>
  <mat-toolbar color="primary">
    <button mat-icon-button color="accent">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer" color="accent"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
</p>
