.icon {
  font-Size: 3em;
  fxLayoutAlign: center center;
  margin-right: 0.8em;
}

.mat-card-add-button {
  user-select: none;
  cursor: pointer;
  width: 30em;
  max-width: 600px;
  height: 19em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
