#vericalToolBar {
  background-color: rgb(1,74,182);
  width: 50px;
}


#toolBarTitle {
  writing-mode: tb-rl;
  color: rgba(255,255,255,0.87);
}

.side-location{
  margin-top: 3.35%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 3%;
  background-color: #ebe9e7;
  overflow: hidden;
}
