<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ myProject.name }}</mat-card-title>
    <mat-card-subtitle>{{ myProject.creator }}</mat-card-subtitle>
    <mat-card-subtitle>{{ myProject.creationDate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-footer class="icon-footer" style="alignment: right">
    <div class="content">
      <div class="column">

      </div>
      <div class="column">
        <mat-icon class="check-icon" *ngIf="myProject.finishedAnnotation === true" style="">
          check
        </mat-icon>
        <mat-icon class="not-finished-icon" *ngIf="myProject.finishedAnnotation === false">
          cancel
        </mat-icon>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
