<mat-card class="card" (click)="onStartAnnotating()">
  <img class="img" mat-card-image *ngIf="firstImage != null" [src]="firstImage.Data">
  <img class="img" mat-card-image *ngIf="firstImage == null">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{myProject.name}}</mat-card-title>
    <mat-card-subtitle>{{myProject.description.slice(0, 35)}}</mat-card-subtitle>
    <img  class="option" mat-card-image src="favicon.ico">
  </mat-card-header>
</mat-card>
