<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css"/>
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-dark-theme.css"/>

<app-toolbar></app-toolbar>

<div style="display: flex; flex-direction: row;">

  <div>
    <canvas style="margin-top: 1em; margin-left: 5em;" #canvas id="canvas" [style.width]="imgWidth + 'px'"
            [style.height]="imgWidth * 9 / 16 + 'px'" appMouseWheel
            [ngStyle]="{backgroundImage: activeRawImage != undefined
                        ? 'url('+activeRawImage.base64Url+')'
                        : 'url()', backgroundSize: 'cover'}"
            (mouseWheelUp)="mouseWheelUpFunc()"
            (mouseWheelDown)="mouseWheelDownFunc()"></canvas>
  </div>
</div>

<app-image-timeline></app-image-timeline>

<app-widget-bar></app-widget-bar>
