<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css"/>
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-dark-theme.css"/>

<app-toolbar></app-toolbar>
<mat-grid-list cols="2" rowHeight="1:1" style="
  position: absolute;
  z-index:  1;">
  <mat-grid-tile>
    <mat-card class="home-card" style="text-align: center;">
      <mat-card-content class="home-card-content">
        <img mat-card-image
             [src]="selectedFile.src"
             alt="Photo of a Shiba Inu">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
