<div class="side-location">

    <button mat-icon-button class="side-icon-button"
            style="margin-top: 0.5em"
            [ngClass]="{'selected-icon': currentAnnotationMode === 0}"
            matTooltip="Whole Image Annotation"
            matTooltipPosition="right"
            (click)="clickToolbarItem(0)">
      <mat-icon>format_color_text</mat-icon>
    </button>

    <button mat-icon-button class="side-icon-button"
            [ngClass]="{'selected-icon': currentAnnotationMode === 1}"
            matTooltip="Bounding Box Annotation"
            matTooltipPosition="right"
            (click)="clickToolbarItem(1)">
      <mat-icon>crop_din</mat-icon>
    </button>

    <button mat-icon-button class="side-icon-button"
            matTooltip="Polygon Annotation"
            matTooltipPosition="right"
            [ngClass]="{'selected-icon': currentAnnotationMode === 2}"
            (click)="clickToolbarItem(2)">
      <mat-icon>create</mat-icon>
    </button>

    <button mat-icon-button class="side-icon-button"
            matTooltip="Editing Tool"
            matTooltipPosition="right"
            [ngClass]="{'selected-icon': currentAnnotationMode === 3}"
            (click)="clickToolbarItem(3)">
      <mat-icon>zoom_out_map</mat-icon>
    </button>

</div>
