<mat-card-title>Labels</mat-card-title>

<mat-chip-list>
  <mat-chip *ngFor="let item of currentLabelCategories"
            [ngStyle]="{backgroundColor: item.colorCode}"
            (click)="onLabelClick(item)">{{currentLabelCategories.indexOf(item) + 1}}
    : {{ item.name }}</mat-chip>
</mat-chip-list>

<div *ngIf="currentlyAdding === false">
  <button mat-raised-button class="add-button" (click)="onAddLabel()">Add Label</button>
</div>

<div *ngIf="currentlyAdding === true" style="margin-top: 1em;">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="newLabelName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Supercategory</mat-label>
    <input matInput [(ngModel)]="newSupercategory">
  </mat-form-field>
  <br>
  <button mat-raised-button class="add-button" (click)="onSave()">Save
  </button>
</div>
