<div class="side-location">

  <div *ngIf="activeLabel !== undefined">
    <app-selected-label-widget></app-selected-label-widget>
  </div>

  <mat-list>

    <div>
      <app-label-widget></app-label-widget>
      <br>
      <mat-divider></mat-divider>
      <br>
    </div>

    <div>
      <app-drawed-annotation-list-widget></app-drawed-annotation-list-widget>
      <mat-divider></mat-divider>
      <br>
    </div>

  </mat-list>

  <div *ngIf="activeProject === undefined">
    <button mat-raised-button class="finish-next-button" (click)="openExportDialog()">Export</button>
  </div>

  <div *ngIf="activeProject !== undefined">
    <button mat-raised-button class="finish-next-button" (click)="openProjectSavingDialog()">Finish</button>
  </div>

</div>
