<div style="width: 100%; height: 100%; padding: 1em">

  <h1>Add Label</h1>

  <form [formGroup]="formGroup" (ngSubmit)="onSave()">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <label>
        <input formControlName="category" required matInput maxlength="30" [(ngModel)]="newLabelName">
      </label>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Supercategory</mat-label>
      <label>
        <input formControlName="supercategory" required matInput maxlength="30" [(ngModel)]="newSupercategory">
      </label>
    </mat-form-field>

    <br>

    <button mat-raised-button type="submit" [disabled]="!formGroup.valid" class="add-button" color="primary">Add
    </button>

  </form>

</div>
