<div style="width: 35em; height: 40em">

  <mat-grid-list cols="3" rowHeight="40em" style="height: 100%">

    <mat-grid-tile [colspan]="1">

      <mat-selection-list class="vertical-list" [multiple]="false">

        <div *ngFor=" let item of currentLabelCategories">
          <mat-list-option (click)="copyProperties(item)">{{item.name}}</mat-list-option>
        </div>

      </mat-selection-list>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" style="height: 100%">

      <div class="settings_body" style="width: 100%; padding: 1em">

        <section class="mat-typography">

          <h1>Label Settings</h1>

          <div *ngIf="selectedLabel.name === undefined">
            <h4>At the moment no Label-Categories are present. Please create one!</h4>
          </div>

          <div *ngIf="selectedLabel.name !== undefined">

            <mat-form-field appearance="fill">

              <mat-label>Name</mat-label>

              <label>
                <input matInput maxlength="30" [(ngModel)]="selectedLabel.name">
              </label>

              <mat-hint align="end">{{selectedLabel.name.length}} / 30</mat-hint>

            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">

              <mat-label>Supercategory</mat-label>

              <label>
                <input matInput maxlength="30" [(ngModel)]="selectedLabel.supercategory">
              </label>

              <mat-hint align="end">{{selectedLabel.supercategory.length}} / 30</mat-hint>

            </mat-form-field>

            <br>

            <h2>Color</h2>

            <div style="height: 200px;">
              <color-chrome [color]="selectedLabel.colorCode" (onChangeComplete)="getColor($event)"></color-chrome>
            </div>

            <button mat-raised-button color="primary" style="bottom: 0; left: 1em; position: absolute"
                    (click)="updateCategory()">
              Update
            </button>

            <button mat-raised-button color="warn" style="bottom: 0; right: 3em; position: absolute"
                    (click)="deleteCategory()">
              Delete
            </button>

          </div>

        </section>

      </div>

    </mat-grid-tile>

  </mat-grid-list>

</div>
