<mat-card-title>Annotations</mat-card-title>

<mat-list>
  <div *ngFor="let item of currentImageAnnotations">
    <mat-list-item
      *ngIf="item.categoryLabel !== undefined && item.image !== undefined && activeImage !== undefined && item.image.id === activeImage.id">
      <mat-icon mat-list-icon
                [ngStyle]="{backgroundColor: item.categoryLabel.colorCode}">{{ getRightIcon(item.annotationMode) }}
      </mat-icon>
      <div mat-line>{{currentImageAnnotations.indexOf(item) + 1}}: {{item.categoryLabel.name}}</div>
      <div *ngIf="item.isVisible === true && item.annotationMode !== 0">
        <button mat-icon-button>
          <mat-icon (click)="onChangeVisibility(item)">visibility_off</mat-icon>
        </button>
      </div>
      <div *ngIf="item.isVisible === false && item.annotationMode !== 0">
        <button mat-icon-button>
          <mat-icon (click)="onChangeVisibility(item)">visibility</mat-icon>
        </button>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon (click)="onDeleteImageAnnotation(item)">clear</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </div>
</mat-list>
