<mat-grid-list [cols]="2" rowHeight="4:1">

  <mat-grid-tile>
    <mat-card-title>Labels</mat-card-title>
  </mat-grid-tile>

  <mat-grid-tile>
    <span>
      <button mat-icon-button
              matTooltip="Add Labels"
              matTooltipPosition="below"
              (click)="onAddLabelClick()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </span>

    <span>
      <button mat-icon-button
              matTooltip="Edit Labels"
              matTooltipPosition="below"
              (click)="onSettings()">
        <mat-icon>settings</mat-icon>
      </button>
    </span>
  </mat-grid-tile>

</mat-grid-list>

<mat-chip-list>
  <mat-chip *ngFor="let item of currentLabelCategories"
            [style.backgroundColor]="item.colorCode"
            (click)="onLabelClick(item)">{{currentLabelCategories.indexOf(item) + 1}}
    : {{ item.name }}</mat-chip>
</mat-chip-list>
