.card {
  width: 30em;
  max-width: 600px;
  height: 19em;
  cursor: pointer;
  user-select: none;
}
.img{
  max-width: 600px;
  height: 15em;
  object-fit: fill;
}
.example-header-image {
  background-image: url('../../../../assets/img/profile.png');
  background-size: cover;
}
.wrap .option{
  position: absolute;
  width: 2em;
  height: 2em;
  right: 0.02em;
  top: 0.1em;
}
.wrap{
  margin-bottom: 0.5em;
  position: relative;
}
.wrap .option .moreIcon{
  margin-bottom: 0.5em;
}
