<mat-card class="card">

  <img class="img" mat-card-image *ngIf="firstImage != null" [src]="firstImage.Data" (click)="onStartAnnotating()">
  <img class="img" mat-card-image *ngIf="firstImage == null" (click)="onStartAnnotating()">

  <div class="wrap">

    <mat-card-header>

      <div mat-card-avatar class="example-header-image" (click)="onStartAnnotating()"></div>

      <mat-card-title (click)="onStartAnnotating()">{{myProject.name}}</mat-card-title>

      <mat-card-subtitle
        (click)="onStartAnnotating()">{{myProject.description !== null ? myProject.description.slice(0, 25) : ''}}
      </mat-card-subtitle>

    </mat-card-header>

    <div *ngIf="isAdmin()">

      <button mat-icon-button [matMenuTriggerFor]="menu" class="option">
        <mat-icon class="moreIcon">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="onEditClicked()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>

        <button mat-menu-item (click)="onDeleteClicked()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>

      </mat-menu>
    </div>

  </div>

</mat-card>
